body {
    background: #eeeeee;
}

.icon-box {
    background-color: #2755fe;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 2px 4px 8px #687cc1;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-box:hover {
    transform: translateY(-3px);
    box-shadow: 2px 6px 12px #687cc1;
}

.icon-box i {
    font-size: 32px;
    color: white;
    transition: color 0.3s ease;
}

.icon-box:hover i {
    color: #f0f0f0;
}

.menu-icon {
    display: flex;
    align-items: center;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
    /* Ensure it is above other content */
}

.menu-overlay.active {
    display: flex;
    opacity: 1;
}

.menu-content {
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 768px;
}

.menu-content a {
    display: block;
    margin: 10px 0;
    color: blue;
    text-decoration: none;
    font-size: 32px;
}

.btn-link {
    margin: 10px 0;
    color: blue;
    background: #fff;
    font-size: 32px;
    border: none;
    cursor: pointer;
}

.close-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 3px;
}

.logo {
    color: #2755fe;
}

@media screen and (max-width: 768px) {
    .icon-box {
        padding: 6px;
        margin-right: 5px;
    }

    .icon-box i {
        font-size: 24px;
    }

    .menu-content {
        padding: 50px;
        width: 90%;
    }

    .menu-content a,
    .btn-link {
        font-size: 24px;
    }

    .close-btn {
        font-size: 20px;
        padding: 3px 10px;
        top: 10px;
        left: 10px;
    }
}