.shop-detail {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.shop-detail__title {
    font-size: 32px;
}

.shop-detail__reservation-title {
    margin-left: 20px;
}

.shop-detail__left {
    width: 40%;
}

.shop-detail__right {
    width: 45%;
    background-color: #305dff;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* 子要素を縦方向に並べる */
    margin: 30px 0;
    position: relative;
    padding-bottom: 0;
    /* 下部の余白を削除 */
}

.shop-detail__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.shop-detail__back-btn {
    font-weight: bold;
    background: #fff;
    padding: 3px 8px;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #aaa;
    color: #333;
}

.shop-detail__header {
    display: flex;
    align-items: center;
}

.shop-detail__input {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.shop-detail__input--date,
.shop-detail__input--time,
.shop-detail__input--people {
    width: calc(80% - 40px);
}

.shop-detail__error {
    color: tomato;
    margin-left: 20px;
    font-size: 14px;
}

.shop-detail__summary {
    width: calc(90% - 40px);
    background-color: #4d7fff;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 20px;
    box-sizing: border-box;
}

.shop-detail__summary-table {
    width: 100%;
    border-collapse: collapse;
}

.shop-detail__summary-table td {
    padding: 5px;
}

.shop-detail__summary-table td:first-child {
    text-align: left;
}

#reservation-form {
    display: flex;
    flex-direction: column;
    /* 子要素を縦方向に並べる */
    height: 100%;
    /* フォーム全体を埋める */
}

.shop-detail__submit-btn {
    width: 100%;
    /* 幅を100%に設定 */
    background-color: #0538ff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    /* 下部の角を丸める */
    margin-top: auto;
    /* ボタンを一番下に配置 */
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
}

.shop-detail__submit-btn:hover {
    background-color: #0729a3;
}

.shop-detail__all-reviews-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #0000FF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px 0;
}

.alert-danger {
    color: #f44336;
    font-size: 14px;
}